# Set

#methods
#add()
#extend()
#union()
#intersection()
#intersection_update()
#difference
#difference_update()
#disjoint()
#issubset()
#issuperset()
#symmetric_difference()
#symmetric_difference()
#symmetric_difference_update()
#in
#not

In [2]:
#add()

In [5]:
x={2,3}
x.add('orange')
x

{2, 3, 'orange'}

In [9]:
y={'item1', 'item2'}
# x.extend(y)

In [11]:
#union()
x={1,2,3}
y={3,4,5}
x.union(y)

{1, 2, 3, 4, 5}

In [13]:
#union()

x={1,2,3,4,5}
y={2,4,5,6,7}

x.intersection(y)

{2, 4, 5}

In [18]:
#intersection_update

x.intersection_update(y)
x

{2, 4, 5}

In [20]:
#difference()

a = {1,2,3,4,5,6,7}
b = {4,5,6,7,8}

a.difference(b)

{1, 2, 3}

In [21]:
#difference_update()

a.difference_update(b)
a

{1, 2, 3}

In [22]:
#issubset()
#issuperset()

x={1,2,3,4,5}
y={1,2,3,4,5,6,7}

x.issubset(y)

True

In [24]:
y.issuperset(x)

True

In [25]:
x.isdisjoint(y)

False

In [26]:
z={9,10}

In [27]:
x.isdisjoint(z)

True

In [32]:
#symmetric_difference()

a={1,2,3,4}
b={4,5,6,7,8,9}
a.symmetric_difference(b)

{1, 2, 3, 5, 6, 7, 8, 9}

In [33]:
#in

x={1,2,3,4,5}
9 in x

False

In [34]:
2 not in x

False

In [35]:
3 in x

True

In [37]:
#remove()
#pop()

set_x={'apple','mango', 'pulm', 'guava'}
set_x.remove('pulm')
set_x

{'apple', 'guava', 'mango'}

In [38]:
set_x.pop()

'apple'

In [39]:
set_x

{'guava', 'mango'}

In [41]:
days={'sunday','monday','tuesday','thursday','friday','saturday'}

for x in days:
    print(x, end=" ")

sunday thursday saturday tuesday monday friday

<h1>String</h1>

list tuple set String
list tuple string (index, ordered) [] , () , " "

In [44]:
str="123abc#a"
number=1234

In [47]:
#len()
#upper()
#lower()
#capitalize()
#title()
#issupper()
#islower()
#isalpha()
#isnumeric()
#isdigit()
#strip()
#lstrip()
#rstrip()
#startswith()
#endswith()
#is not in

In [48]:
#len()
st="MACHHAPUCHHRE"
L=len(st)
L

13

In [49]:
st.lower()

'machhapuchhre'

In [50]:
st.upper()

'MACHHAPUCHHRE'

In [51]:
st_l = st.lower()

In [52]:
st_l

'machhapuchhre'

In [53]:
st = "this is The RaNdom strinG"
st.capitalize()

'This is the random string'

In [54]:
st.title()

'This Is The Random String'

In [55]:
st.isupper()

False

In [56]:
st.islower()

False

In [57]:
(st.upper()).isupper()

True

In [58]:
sep = "ABCDeFGHIhKLMnOP"

sep.isalpha()

True

In [66]:
cap = []
low = []
for i in sep:
    if i.isupper():
        cap.append(i)
    else:
        low.append(i)

print(cap)
print(low)

['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'O', 'P']
['e', 'h', 'n']

In [69]:
upper=[x for x in sep if x.isupper()]
lower=[x for x in sep if x.islower()]

print(upper)
print(lower)

['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'O', 'P']
['e', 'h', 'n']

In [71]:
st_num = "1234"
st_num.isalpha()

False

In [72]:
st_ex="234b"
st_ex.isalpha()

False

In [73]:
st_ex.isnumeric()

False

In [74]:
st_num.isnumeric()

True

In [76]:
s='pashupati'
'h' in s

True

In [78]:
s.startswith('p')

True

In [81]:
#list
l = ['kathmandu', 'kite', 'kinder', 'book', 'car', 'kodo', 'tie', 'pencil']
#create a list of items that start with k

k =[ x for x in l if x.startswith('k')]
k

['kathmandu', 'kite', 'kinder', 'kodo']

<h1> String Slicing</h1>

In [82]:
str="ANNAPURNA"
str[1:3]

'NN'

In [83]:
str[-1:-4:-1]

'ANR'

In [84]:
str[::-1]

'ANRUPANNA'

In [86]:
#from the given string "ABCDE" check either it is palindeome or not

str="ABCDEDCBA"
if str==str[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [87]:
#strip()

s= "     traumatized     "
s.strip()

'traumatized'

In [88]:
#lstrip()

s= "     traumatized     "
s.lstrip()

'traumatized     '

In [89]:
#rstrip()

s= "     traumatized     "
s.rstrip()

'     traumatized'

In [90]:
st="sagarmatha"
for x in st:
    print(x, end=", ")

s, a, g, a, r, m, a, t, h, a,

In [92]:
st="This is an apple. It's red!"
pm=['!','?','@','#','$','%','^','&','*','(',')','_','-','+','=','<','>',';',':','"',"'",',','.','/','\\','|','[',']','{','}','`','~']
for x in st:
    if x in pm:
        st=st.replace(x, "")
st

'This is an apple Its red'

<h1> Dictionary </h1>

In [94]:
dix = {'1':'one','2':'two','3':'three'}
dix['1']

'one'

In [95]:
fruits = ['apple', 'guava', 'plum','grapes']
veggies = ['cauliflower', 'brinjal','beans']
meat = ['mutton', 'chicken', 'duck']

keys =['item1', 'item2', 'item3']
values = [fruits, veggies, meat]
dictionary = {key: value for key, value in zip(keys,values)}

dictionary

{'item1': ['apple', 'guava', 'plum', 'grapes'],
 'item2': ['cauliflower', 'brinjal', 'beans'],
 'item3': ['mutton', 'chicken', 'duck']}

<h1>Dictionary Methods</h1>

In [103]:
key = ('name', 
       'age',
       'address',
       'phone')

value=('none')
dix=dict.fromkeys(key,value)
print(dix)

{'name': 'none', 'age': 'none', 'address': 'none', 'phone': 'none'}

In [97]:
dix.get('address')

'None'

In [98]:
dix.keys()

dict_keys(['name', 'age', 'address', 'phone'])

In [100]:
dix.pop('phone')

'None'

In [101]:
dix.pop('age')

'None'

In [102]:
print(dix)

{'name': 'None', 'address': 'None'}

In [104]:
dix.popitem()

('phone', 'none')