In [102]:
import pandas as pd
import ast

In [103]:
movies = pd.read_csv(r'tempmovies.csv')

In [104]:
movies.isna().sum()

Unnamed: 0    0
genres        0
keywords      0
overview      0
title         0
cast          0
crew          0
dtype: int64

In [105]:
movies.drop('Unnamed: 0', axis=1, inplace=True)

In [106]:
movies.columns

Index(['genres', 'keywords', 'overview', 'title', 'cast', 'crew'], dtype='object')

In [107]:
movies.isna().sum()

genres      0
keywords    0
overview    0
title       0
cast        0
crew        0
dtype: int64

In [108]:
movies.head()

,genres,keywords,overview,title,cast,crew
0,"['action', 'adventure', 'fantasy', 'sciencefic...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"['samworthington', 'zoesaldana', 'sigourneywea...",['jamescameron']
1,"['adventure', 'fantasy', 'action']","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"['johnnydepp', 'orlandobloom', 'keiraknightley']",['goreverbinski']
2,"['action', 'adventure', 'crime']","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"['danielcraig', 'christophwaltz', 'léaseydoux']",['sammendes']
3,"['action', 'crime', 'drama', 'thriller']","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"['christianbale', 'michaelcaine', 'garyoldman']",['christophernolan']
4,"['action', 'adventure', 'sciencefiction']","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"['taylorkitsch', 'lynncollins', 'samanthamorton']",['andrewstanton']

In [109]:
# Clean

In [110]:
def clean_keyword(text):
    list=[]
    for i in ast.literal_eval(text):
        list.append(i['name'])
    return list

In [111]:
movies['keywords']=movies['keywords'].apply(clean_keyword)

In [112]:
movies.head()

,genres,keywords,overview,title,cast,crew
0,"['action', 'adventure', 'fantasy', 'sciencefic...","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"['samworthington', 'zoesaldana', 'sigourneywea...",['jamescameron']
1,"['adventure', 'fantasy', 'action']","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"['johnnydepp', 'orlandobloom', 'keiraknightley']",['goreverbinski']
2,"['action', 'adventure', 'crime']","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,Spectre,"['danielcraig', 'christophwaltz', 'léaseydoux']",['sammendes']
3,"['action', 'crime', 'drama', 'thriller']","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,The Dark Knight Rises,"['christianbale', 'michaelcaine', 'garyoldman']",['christophernolan']
4,"['action', 'adventure', 'sciencefiction']","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",John Carter,"['taylorkitsch', 'lynncollins', 'samanthamorton']",['andrewstanton']

In [113]:
# def strip_quotation(text):
#     return text.replace("'", "")

In [114]:
# movies['genres'] = movies['genres'].apply(strip_quotation)
# movies['cast'] = movies['cast'].apply(strip_quotation)
# movies['crew'] = movies['crew'].apply(strip_quotation)

In [116]:
## split overview
movies[['genres','cast','crew']] = movies[['genres','cast','crew']].map(ast.literal_eval)

In [119]:
movies['overview'] = movies['overview'].str.split()

In [120]:
movies.head()

,genres,keywords,overview,title,cast,crew
0,"[action, adventure, fantasy, sciencefiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[samworthington, zoesaldana, sigourneyweaver]",[jamescameron]
1,"[adventure, fantasy, action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski]
2,"[action, adventure, crime]","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[danielcraig, christophwaltz, léaseydoux]",[sammendes]
3,"[action, crime, drama, thriller]","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]",[christophernolan]
4,"[action, adventure, sciencefiction]","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton]

In [121]:
movies['tags'] = movies['genres']+movies['keywords']+movies['overview']+movies['cast']+movies['crew']

In [122]:
movies.head()

,genres,keywords,overview,title,cast,crew,tags
0,"[action, adventure, fantasy, sciencefiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[samworthington, zoesaldana, sigourneyweaver]",[jamescameron],"[action, adventure, fantasy, sciencefiction, c..."
1,"[adventure, fantasy, action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski],"[adventure, fantasy, action, ocean, drug abuse..."
2,"[action, adventure, crime]","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[danielcraig, christophwaltz, léaseydoux]",[sammendes],"[action, adventure, crime, spy, based on novel..."
3,"[action, crime, drama, thriller]","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]",[christophernolan],"[action, crime, drama, thriller, dc comics, cr..."
4,"[action, adventure, sciencefiction]","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton],"[action, adventure, sciencefiction, based on n..."

In [125]:
new_data = movies[['title', 'tags']]

In [126]:
new_data.head()

,title,tags
0,Avatar,"[action, adventure, fantasy, sciencefiction, c..."
1,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action, ocean, drug abuse..."
2,Spectre,"[action, adventure, crime, spy, based on novel..."
3,The Dark Knight Rises,"[action, crime, drama, thriller, dc comics, cr..."
4,John Carter,"[action, adventure, sciencefiction, based on n..."

In [127]:
import nltk
from nltk.corpus import stopwords

In [128]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rishi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.