In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

In [8]:
date=pd.date_range(start="2008-08-21", end="2024-06-17", freq="Y")
date

DatetimeIndex(['2008-12-31', '2009-12-31', '2010-12-31', '2011-12-31',
               '2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [10]:
df = pd.DataFrame(date, columns=['Date'])
df

         Date
0  2008-12-31
1  2009-12-31
2  2010-12-31
3  2011-12-31
4  2012-12-31
5  2013-12-31
6  2014-12-31
7  2015-12-31
8  2016-12-31
9  2017-12-31
10 2018-12-31
11 2019-12-31
12 2020-12-31
13 2021-12-31
14 2022-12-31
15 2023-12-31

In [12]:
df['Date']=pd.to_datetime(df['Date'])

In [13]:
df['Date'].dt.day

0     31
1     31
2     31
3     31
4     31
5     31
6     31
7     31
8     31
9     31
10    31
11    31
12    31
13    31
14    31
15    31
Name: Date, dtype: int32

In [14]:
df['Date'].dt.month

0     12
1     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
9     12
10    12
11    12
12    12
13    12
14    12
15    12
Name: Date, dtype: int32

In [16]:
#Working with NaT
data = ['2023/04/25', '2023/15/15', '1 March 2023', '2023/10/23']
data

['2023/04/25', '2023/15/15', '1 March 2023', '2023/10/23']

In [19]:
data = pd.DataFrame(data)
data

              0
0    2023/04/25
1    2023/15/15
2  1 March 2023
3    2023/10/23

In [30]:
data['data_new'] = pd.to_datetime(data[0], format='mixed', errors='coerce')
data

              0   data_new
0    2023/04/25 2023-04-25
1    2023/15/15        NaT
2  1 March 2023 2023-03-01
3    2023/10/23 2023-10-23

# time delta
- date + some dates add
- date - some data sub

In [ ]:
# date range dates create
# date ordering, change year, month day

In [34]:
df = pd.DataFrame(dat)
df

            0
0  2024-05-14
1  2012-05-12

In [38]:
df[0] = pd.to_datetime(df[0])
df

           0
0 2024-05-14
1 2012-05-12

In [41]:
df['year']=df[0].dt.year
df

           0  year
0 2024-05-14  2024
1 2012-05-12  2012

In [43]:
df['month'] = df[0].dt.month
df

           0  year  month
0 2024-05-14  2024      5
1 2012-05-12  2012      5

In [45]:
df['day'] = df[0].dt.day
df

           0  year  month  day
0 2024-05-14  2024      5   14
1 2012-05-12  2012      5   12

In [48]:
time_delta = pd.DateOffset(years=3, months=5,days=6)
time_delta

In [55]:
df['delta date']=df[0]+time_delta
df

           0  year  month  day delta date
0 2024-05-14  2024      5   14 2027-10-20
1 2012-05-12  2012      5   12 2015-10-18

In [60]:
# date index
df.set_index(df['delta date'], inplace=True)

In [62]:
df.loc['2027-10-20']

0             2024-05-14 00:00:00
year                         2024
month                           5
day                            14
delta date    2027-10-20 00:00:00
Name: 2027-10-20 00:00:00, dtype: object

# time
- timespan
- timestamp
- timezone handling
- format
- nepali date and time