In [32]:
import pandas as pd
import ast

In [33]:
movies = pd.read_csv(r'tempmovies.csv')

In [34]:
movies.isna().sum()

Unnamed: 0    0
genres        0
keywords      0
overview      0
title         0
cast          0
crew          0
dtype: int64

In [35]:
movies.drop('Unnamed: 0', axis=1, inplace=True)

In [36]:
movies.columns

Index(['genres', 'keywords', 'overview', 'title', 'cast', 'crew'], dtype='object')

In [37]:
movies.isna().sum()

genres      0
keywords    0
overview    0
title       0
cast        0
crew        0
dtype: int64

In [38]:
movies.head()

,genres,keywords,overview,title,cast,crew
0,"['action', 'adventure', 'fantasy', 'sciencefic...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"['samworthington', 'zoesaldana', 'sigourneywea...",['jamescameron']
1,"['adventure', 'fantasy', 'action']","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"['johnnydepp', 'orlandobloom', 'keiraknightley']",['goreverbinski']
2,"['action', 'adventure', 'crime']","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"['danielcraig', 'christophwaltz', 'léaseydoux']",['sammendes']
3,"['action', 'crime', 'drama', 'thriller']","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"['christianbale', 'michaelcaine', 'garyoldman']",['christophernolan']
4,"['action', 'adventure', 'sciencefiction']","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"['taylorkitsch', 'lynncollins', 'samanthamorton']",['andrewstanton']

In [39]:
# Clean

In [40]:
def clean_keyword(text):
    list=[]
    for i in ast.literal_eval(text):
        list.append(i['name'])
    return list

In [41]:
movies['keywords']=movies['keywords'].apply(clean_keyword)

In [42]:
movies.head()

,genres,keywords,overview,title,cast,crew
0,"['action', 'adventure', 'fantasy', 'sciencefic...","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"['samworthington', 'zoesaldana', 'sigourneywea...",['jamescameron']
1,"['adventure', 'fantasy', 'action']","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"['johnnydepp', 'orlandobloom', 'keiraknightley']",['goreverbinski']
2,"['action', 'adventure', 'crime']","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,Spectre,"['danielcraig', 'christophwaltz', 'léaseydoux']",['sammendes']
3,"['action', 'crime', 'drama', 'thriller']","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,The Dark Knight Rises,"['christianbale', 'michaelcaine', 'garyoldman']",['christophernolan']
4,"['action', 'adventure', 'sciencefiction']","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",John Carter,"['taylorkitsch', 'lynncollins', 'samanthamorton']",['andrewstanton']

In [43]:
# def strip_quotation(text):
#     return text.replace("'", "")

In [44]:
# movies['genres'] = movies['genres'].apply(strip_quotation)
# movies['cast'] = movies['cast'].apply(strip_quotation)
# movies['crew'] = movies['crew'].apply(strip_quotation)

In [45]:
## split overview
movies[['genres','cast','crew']] = movies[['genres','cast','crew']].map(ast.literal_eval)

In [46]:
movies['overview'] = movies['overview'].str.split()

In [47]:
movies.head()

,genres,keywords,overview,title,cast,crew
0,"[action, adventure, fantasy, sciencefiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[samworthington, zoesaldana, sigourneyweaver]",[jamescameron]
1,"[adventure, fantasy, action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski]
2,"[action, adventure, crime]","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[danielcraig, christophwaltz, léaseydoux]",[sammendes]
3,"[action, crime, drama, thriller]","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]",[christophernolan]
4,"[action, adventure, sciencefiction]","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton]

In [48]:
movies['tags'] = movies['genres']+movies['keywords']+movies['overview']+movies['cast']+movies['crew']

In [49]:
movies.head()

,genres,keywords,overview,title,cast,crew,tags
0,"[action, adventure, fantasy, sciencefiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[samworthington, zoesaldana, sigourneyweaver]",[jamescameron],"[action, adventure, fantasy, sciencefiction, c..."
1,"[adventure, fantasy, action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski],"[adventure, fantasy, action, ocean, drug abuse..."
2,"[action, adventure, crime]","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[danielcraig, christophwaltz, léaseydoux]",[sammendes],"[action, adventure, crime, spy, based on novel..."
3,"[action, crime, drama, thriller]","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]",[christophernolan],"[action, crime, drama, thriller, dc comics, cr..."
4,"[action, adventure, sciencefiction]","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton],"[action, adventure, sciencefiction, based on n..."

In [50]:
new_data = movies[['title', 'tags']]

In [51]:
new_data.head()

,title,tags
0,Avatar,"[action, adventure, fantasy, sciencefiction, c..."
1,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action, ocean, drug abuse..."
2,Spectre,"[action, adventure, crime, spy, based on novel..."
3,The Dark Knight Rises,"[action, crime, drama, thriller, dc comics, cr..."
4,John Carter,"[action, adventure, sciencefiction, based on n..."

In [52]:
new_data.to_csv('new_data.csv')

In [53]:
new_data.isna().sum()

title    0
tags     0
dtype: int64

In [54]:
import nltk
from nltk.corpus import stopwords

In [55]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rishi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [56]:
stop_words = set(stopwords.words('english'))

In [57]:
new_data.tags = new_data.tags.apply(lambda x:[word for word in x if word not in stop_words])

C:\Users\rishi\AppData\Local\Temp\ipykernel_31432\2909720909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.tags = new_data.tags.apply(lambda x:[word for word in x if word not in stop_words])

In [60]:
new_data.tags = new_data.tags.apply(lambda x: ' '.join(x))

C:\Users\rishi\AppData\Local\Temp\ipykernel_31432\2511941931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.tags = new_data.tags.apply(lambda x: ' '.join(x))

In [61]:
new_data.head()

,title,tags
0,Avatar,action adventure fantasy sciencefiction cultur...
1,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drug abuse exot...
2,Spectre,action adventure crime spy based on novel secr...
3,The Dark Knight Rises,action crime drama thriller dc comics crime fi...
4,John Carter,action adventure sciencefiction based on novel...

In [58]:
# Vectorize 
import sklearn
from sklearn.feature_extraction.text import CountVectorizer

In [59]:
cv = CountVectorizer(max_features=5000)

In [62]:
vector = cv.fit_transform(new_data['tags']).toarray()

In [63]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [64]:
#Cosine Similarity
from sklearn.metrics.pairwise import cosine_similarity

In [65]:
similarity = cosine_similarity(vector)

In [66]:
similarity

array([[1.        , 0.06757374, 0.03310424, ..., 0.03246137, 0.01805984,
        0.        ],
       [0.06757374, 1.        , 0.06123724, ..., 0.04003204, 0.        ,
        0.01928792],
       [0.03310424, 0.06123724, 1.        , ..., 0.01961161, 0.        ,
        0.        ],
       ...,
       [0.03246137, 0.04003204, 0.01961161, ..., 1.        , 0.06419407,
        0.0555937 ],
       [0.01805984, 0.        , 0.        , ..., 0.06419407, 1.        ,
        0.06185896],
       [0.        , 0.01928792, 0.        , ..., 0.0555937 , 0.06185896,
        1.        ]])

In [68]:
def recommend(movie):
    index = new_data[new_data['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    for i in distances[1:6]:
        print(new_data.iloc[i[0]].title)

In [76]:
recommend('Avatar')

Moonraker
Aliens
Silent Running
Alien
Alien³