# Set

#methods
#add()
#extend()
#union()
#intersection()
#intersection_update()
#difference
#difference_update()
#disjoint()
#issubset()
#issuperset()
#symmetric_difference()
#symmetric_difference()
#symmetric_difference_update()
#in
#not

In [2]:
#add()

In [5]:
x={2,3}
x.add('orange')
x

{2, 3, 'orange'}

In [9]:
y={'item1', 'item2'}
# x.extend(y)

In [11]:
#union()
x={1,2,3}
y={3,4,5}
x.union(y)

{1, 2, 3, 4, 5}

In [13]:
#union()

x={1,2,3,4,5}
y={2,4,5,6,7}

x.intersection(y)

{2, 4, 5}

In [18]:
#intersection_update

x.intersection_update(y)
x

{2, 4, 5}

In [20]:
#difference()

a = {1,2,3,4,5,6,7}
b = {4,5,6,7,8}

a.difference(b)

{1, 2, 3}

In [21]:
#difference_update()

a.difference_update(b)
a

{1, 2, 3}

In [22]:
#issubset()
#issuperset()

x={1,2,3,4,5}
y={1,2,3,4,5,6,7}

x.issubset(y)

True

In [24]:
y.issuperset(x)

True

In [25]:
x.isdisjoint(y)

False

In [26]:
z={9,10}

In [27]:
x.isdisjoint(z)

True

In [32]:
#symmetric_difference()

a={1,2,3,4}
b={4,5,6,7,8,9}
a.symmetric_difference(b)

{1, 2, 3, 5, 6, 7, 8, 9}

In [33]:
#in

x={1,2,3,4,5}
9 in x

False

In [34]:
2 not in x

False

In [35]:
3 in x

True

In [37]:
#remove()
#pop()

set_x={'apple','mango', 'pulm', 'guava'}
set_x.remove('pulm')
set_x

{'apple', 'guava', 'mango'}

In [38]:
set_x.pop()

'apple'

In [39]:
set_x

{'guava', 'mango'}

In [41]:
days={'sunday','monday','tuesday','thursday','friday','saturday'}

for x in days:
    print(x, end=" ")

sunday thursday saturday tuesday monday friday

<h1>String</h1>

In [ ]:
list tuple set String
list tuple string (index, ordered) [] , () , " "

In [44]:
str="123abc#a"
number=1234

In [46]:
print(str(number))

TypeError: 'str' object is not callable

In [47]:
#len()
#upper()
#lower()
#capitalize()
#title()
#issupper()
#islower()
#isalpha()
#isnumeric()
#isdigit()
#strip()
#lstrip()
#rstrip()
#startswith()
#endswith()
#is not in

In [48]:
#len()
st="MACHHAPUCHHRE"
L=len(st)
L

13

In [49]:
st.lower()

'machhapuchhre'

In [50]:
st.upper()

'MACHHAPUCHHRE'

In [51]:
st_l = st.lower()

In [52]:
st_l

'machhapuchhre'

In [53]:
st = "this is The RaNdom strinG"
st.capitalize()

'This is the random string'

In [54]:
st.title()

'This Is The Random String'

In [55]:
st.isupper()

False

In [56]:
st.islower()

False

In [57]:
(st.upper()).isupper()

True

In [58]:
sep = "ABCDeFGHIhKLMnOP"

sep.isalpha()

True

In [66]:
cap = []
low = []
for i in sep:
    if i.isupper():
        cap.append(i)
    else:
        low.append(i)

print(cap)
print(low)

['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'O', 'P']
['e', 'h', 'n']

In [69]:
upper=[x for x in sep if x.isupper()]
lower=[x for x in sep if x.islower()]

print(upper)
print(lower)

['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'O', 'P']
['e', 'h', 'n']